@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.single-post p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: #333;
}
